.absolute_page {
	margin-top: 20px;
	margin-bottom: 20px;
  margin-right: 0px;
	float: left;
}

.float_page {
  margin-top: 20px;
  margin-left: 0px;
  float: right;
}

.float_page .affix {
	top: 20px;
  width: inherit;
}

.float_page .affix-top {
	width: 100%;
}

.absolute_table {
	width: 100%;
}
