<!-- post内容 -->

<div class="mid_container">
<div class="shadow_block main_block block_inf">

  <div>
    <h2><%= page.title %></h2>
  </div>
  <div>
    <p><%- date(page.date, "YYYY-MM-DD") %></p>
  </div>
  <div>
    <%- page.content %>
  </div>
  
</div>
</div>

<div class="block_hide_left shadow_block left_block">
</div>

<div class="left_link shadow_tool">
  <script>
    $(document).ready(function () {
      $(".left_link").click(function () {
        $(".block_hide_left").toggleClass("block_show_left");
        var left_link = document.getElementById("left_link_inner");
        if (left_link.innerHTML == "Show") left_link.innerHTML = "Hide";
        else left_link.innerHTML = "Show";
      });
    });
  </script>
  <p id="left_link_inner">Show</p>
</div>

<!-- 分页器貌似没用 -->
<%- partial('partial/paginator') %>