<!-- post内容 -->

<div class="mid_container">
<div class="shadow_block mid_block block_inf">

  <div>
    <h2><%= page.title %></h2>
  </div>
  <div>
    <p><%- date(page.date, "YYYY-MM-DD") %></p>
  </div>
  <div>
    <%- page.content %>
  </div>
  
</div>
</div>

<%- partial('partial/paginator') %>