<!-- 标题,链接 -->

<!-- 页面头,标题 -->
<% if (is_home() && (page.current == 1)) { %>
  <div class="top_block block_full_mid">
<% } else { %>
  <div class="top_block block_100_mid">
<% } %>
  <a href="<%- url_for(theme.menu.Home) %>">
    <h1><%= config.title %></h1>
  </a>
</div>


<!-- 每一项逐个生成 -->
<div class="block_hide_right shadow_block right_block">
    <% for (var name in theme.menu) { %>
      <a href="<%- url_for(theme.menu[name]) %>"><h2><%= name %></h2></a>
    <% } %>
</div>

<div class="right_link shadow_tool">
  <script>
    $(document).ready(function () {
      $(".right_link").click(function () {
        $(".block_hide_right").toggleClass("block_show_right");
        var right_link = document.getElementById("right_link_inner");
        if (right_link.innerHTML == "Show") right_link.innerHTML = "Hide";
        else right_link.innerHTML = "Show";
      });
    });
  </script>
  <p id="right_link_inner">Show</p>
</div>