<!-- 标题,链接 -->

<% if (is_home() && (page.current == 1)) { %>
  <div class="top_block block_full">
<% } else { %>
  <div class="top_block block_100_mid">
<% } %>
  <a href="<%- url_for(theme.menu.Home) %>">
    <h1><%= config.title %></h1>
  </a>
</div>

<div>
  <% for (var name in theme.menu) { %>
    <a href="<%- url_for(theme.menu[name]) %>"><h2><%= name %></h2></a>
  <% } %>
</div>