<script src="/live2d/new/JsManager.js"></script>
<script src="/live2d/new/tips.js"></script>

<script src="/live2d/origin/live2d.js"></script>
<script src="/live2d/origin/Live2DFramework.js"></script>

<script src="/live2d/origin/LAppDefine.js"></script>
<script src="/live2d/origin/LAppLive2DManager.js"></script>
<script src="/live2d/origin/MatrixStack.js"></script>
<script src="/live2d/origin/LAppModel.js"></script>
<script src="/live2d/origin/ModelSettingJson.js"></script>
<script src="/live2d/origin/PlatformManager.js"></script>
<script src="/live2d/origin/SampleApp.js"></script>

<link rel="stylesheet" type="text/css" href="/live2d/new/live2d.css">
<link rel="stylesheet" type="text/css" href="/live2d/new/tips.css">


<div class="left_tool_5 shadow_tool">
  <p id="live2d_tool">➕</p>
  <script>
    var click_num = 0; // 点击的次数
    document.querySelector("#live2d_tool").setAttribute("onclick", "hexo_live2d()");

    function hexo_live2d() {
      addModel();
      click_num ++;
    }
  </script>
</div>