<script src="/src/new/JsManager.js" defer="defer"></script>
<script src="/src/new/tips.js" defer="defer"></script>

<script src="/src/origin/live2d.js" defer="defer"></script>
<script src="/src/origin/Live2DFramework.js" defer="defer"></script>

<script src="/src/origin/LAppDefine.js" defer="defer"></script>
<script src="/src/origin/LAppLive2DManager.js" defer="defer"></script>
<script src="/src/origin/MatrixStack.js" defer="defer"></script>
<script src="/src/origin/LAppModel.js" defer="defer"></script>
<script src="/src/origin/ModelSettingJson.js" defer="defer"></script>
<script src="/src/origin/PlatformManager.js" defer="defer"></script>
<script src="/src/origin/SampleApp.js" defer="defer"></script>

<link rel="stylesheet" type="text/css" href="/src/new/live2d.css">
<link rel="stylesheet" type="text/css" href="/src/new/tips.css">


<div class="left_tool_5 shadow_tool" id="live2d_tool">
  <svg class="solid_tool solid_tool_show">
    <path d="M10 25 L40 25"></path>
    <path d="M25 10 L25 40"></path>
  </svg>
  <script>
    var click_num = 0; // 点击的次数
    document.querySelector("#live2d_tool").setAttribute("onclick", "hexo_live2d()");

    function hexo_live2d() {
      addModel();
      click_num ++;
    }
  </script>
</div>