<%- js('new/main') %>
<%- css('new/main') %>
<div class="left_tool_5 shadow_tool">
    <p id="live2d_tool">➕</p>
    <script>
      document.querySelector("#live2d_tool").setAttribute("onclick", "addModel()");
    </script>
</div>