<%- js('new/main') %>
<%- css('new/main') %>
<div class="left_tool_5 shadow_tool">
    <p id="right_live2d">Add</p>
    <script>
      document.querySelector("#right_live2d").setAttribute("onclick", "addModel()");
    </script>
</div>