<!-- 分页器 -->

<% if (page && page.posts) { %>
  
  <% if (page.total > 1) { %>
    <!-- 上一页 -->
      <% if (page.prev != 0) { %>
        <div class="left_pg shadow_tool">
            <script>
                $(".left_pg").click(function () {
                  location = '<%= url_for(page.prev_link) %>';
                });
            </script>
            <p>Prev</p>
        </div>
      <% } %>
      <!-- 下一页 -->
      <% if (page.next != 0) { %>
        <div class="right_pg shadow_tool">
            <script>
                $(".right_pg").click(function () {
                  location = '<%= url_for(page.next_link) %>';
                });
            </script>
            <p>Next</p>
        </div>
      <% } %>

  <% } %>

<% } %>

<div class="shadow_block bottom_block">
  <% if (page && page.posts) { %>
  <p>
    <%= page.current %> / <%= page.total %>
  </p>
  <% } else { %>
  <p>
  </p>
  <% } %>
</div>