<!-- 搜索功能 -->

<% if (theme.local_search.enable) { %>

  <div class="right_tool_5 shadow_tool">
    <p id="right_search">Find</p>
  </div>
  <script>
    $(document).ready(function () {
      $(".right_tool_5").click(function () {
        $(".block_hide_top").toggleClass("block_show_top");
        $("#local-search-input").focus();
      });
    });
  </script>


  <div class="shadow_block block_hide_top top_block">
    
    <span class="local-search local-search-google local-search-plugin" style="position: relative; z-index: 2;">
        <input type="search" placeholder="Search" id="local-search-input" class="local-search-input-cls">
        <div id="local-search-result" class="local-search-result-cls"></div>
    </span>
  </div>
  
<% } %>