.all_block {
  /* 所有块的统一样式 */
  box-shadow: 0px 0px 10px var(--my_grey);
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  height: 300px;

  margin-top: 5px;
  margin-bottom: 5px;

  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow-y: scroll;
}

.all_block:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px black;
}

.all_block::-webkit-scrollbar {
  width: 0px;
}

.mid_block {
  /* 居中的块,主要用于存放文章摘要 */
  float: left;
  position: relative;

  margin-left: 10px;
  margin-right: 10px;
}

.bottom_block {
  /* 放在底部用于凑长度的块 */
  text-align: center;
}