.code_figure {
  /* 代码框 */
  border: 2px solid var(--shadow_grey);
  border-radius: 3px;
  background-color: var(--box_grey);
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  overflow-x: scroll;
  word-wrap: break-word;
}

.code_string {
  /* 字符串 */
  color: red;
}

.code_comment {
  /* 注释 */
  font-style: italic;
  color: var(--text_grey);
}

.code_keyword {
  /* 关键词 */
  color: green;
}

.code_attribute {
  /* 属性 */
  color: blue;
}

.code_built_in {
  /* ??? */
  color: blueviolet;
}

.code_attr {
  /* html属性 */
  color: blue;
}

.code_name {
  /* html标签 */
  color: green;
}

.code_number {
  /* 数字 */
  color: blueviolet;
}

.code_title {
  /* 函数 */
  color: blue;
}

.code_params {
  /* 函数参数 */
  color: brown;
}

.code_selector-tag {
  /* css属性 */
  color: brown;
}

.code_regexp {
  /* 正则表达式 */
  color: darkgreen;
}