#web_name {
  font-size: 50px;
}

#post_name {
  text-align: center;
  font-size: 35px;
}

#guide_title {
  cursor: pointer;
  margin-bottom: 10px;
}

.guide_1 {
  transition-duration: 0.5s;
  cursor: pointer;
}

.guide_2 {
  transition-duration: 0.5s;
  padding-left: 10px;
  cursor: pointer;
}

.guide_3 {
  transition-duration: 0.5s;
  padding-left: 20px;
  cursor: pointer;
}

.guide_active {
  color: var(--text_orange);
}