/**
 * 站名,标题字体,代码字体,链接字体等
 */
 
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, #post_name, #web_name, .post_title {
  font-family: 'varela', sans-serif;
}

p,
ul,
.normal_table {
  font-family: "Arimo for Powerline", serif;
}

code {
  font-family: monospace;
  word-break: break-all;
}

.mid_container div div a {
  transition-duration: 0.5s;
  color: var(--link_blue);
}

.mid_container div div a:hover {
  color: var(--hover_blue);
}

.mid_tag,
.mid_category {
  transition-duration: 0.5s;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  line-height: 30px;

  text-decoration: none;
  color: var(--text_blue);
}

.mid_tag:hover,
.mid_category:hover {
  color: var(--text_orange);
}

#web_name {
  /* 网站名 */
  transition-duration: 0.5s;
  font-size: 55px;
  font-weight: bold;
  
  /* color: var(--text_blue); */
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 2px #000;
  z-index: 1;
}

#web_name:hover {
  /* color: var(--text_orange) */
  text-shadow: 0px 0px 4px #000;
}

.post_title {
  /* 摘要页 */
  transition-duration: 0.5s;
  font-size: 25px;
  font-weight: bold;
  
  margin-top: 20px;
  display: block;

  color: var(--text_blue);
  text-decoration: none;
}

.post_title:hover {
  color: var(--text_orange);
}

#post_name {
  /* 内容页 */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#guide_title {
  transition-duration: 0.5s;
  font-weight: 900;

  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.guide_2 {
  margin-left: 10px;
}

.guide_3 {
  margin-left: 20px;
}

.guide_4 {
  margin-left: 30px;
}

.guide_5 {
  margin-left: 40px;
}

.guide_active {
  border-right: 3px solid var(--box_orange);
  border-left: 3px solid var(--text_orange);
  border-radius: 3px;
  background-color: var(--box_orange);
}

.guide_1,
.guide_2,
.guide_3,
.guide_4,
.guide_5 {
  padding-left: 15px;
  position: relative;

  cursor: pointer;
  transition-duration: 0.5s;
}

#guide_title:hover,
.guide_1:hover,
.guide_2:hover,
.guide_3:hover,
.guide_4:hover,
.guide_5:hover {
  color: var(--text_orange);
}

.bar_section {
  font-weight: 900;
}

.bar_item {
  /* 右侧的tags和categories */
  transition-duration: 1s;
  color: var(--text_grey);
  border-bottom: 2px solid rgba(0, 0, 0, 0);

  text-decoration: none;
  margin: 2px;
}

.bar_item:hover {
  color: var(--text_orange);
  border-bottom: 2px solid var(--box_orange);
  border-radius: 2px;
}

/* 标题 */
/* .section_1,
.section_2,
.section_3,
.section_4,
.section_5 {
  ;
} */

/* 标题链接 */
.section_1 a,
.section_2 a,
.section_3 a,
.section_4 a,
.section_5 a {
  transition-duration: 0.5s;
  color: var(--text_blue);
  text-decoration: none;
}

.section_1 a:hover,
.section_2 a:hover,
.section_3 a:hover,
.section_4 a:hover,
.section_5 a:hover {
  color: var(--text_orange)
}

code {
  /* 行间代码 */
  font-size: 15px;
  background-color: var(--code_grey);
}