.my_code {
  /* 代码框 */
  border: 2px solid var(--shadow_grey);
  border-radius: 3px;
  background-color: var(--box_grey);

  font-size: 14px;
  word-wrap: break-word;
}

.code_string {
  /* 字符串 */
  color: red;
}

.code_comment {
  /* 注释 */
  font-style: italic;
  color: var(--text_grey);
}

.code_keyword {
  /* 关键词 */
  color: green;
}

.code_attribute {
  /* 属性 */
  color: blue;
}

.code_built_in {
  /* ??? */
  color: blueviolet;
}

.code_attr {
  /* html属性 */
  color: orange;
}

.code_tag {
  /* html标签 */
  color: mediumturquoise;
}