/**
* 正文样式,方便其他repository引用
*/

@font-face {
  font-family: 'varela';
  src: url('https://cdn.jsdelivr.net/gh/hexo-simple-theme/hexo_bg@1.0.2/VarelaRound.ttf');
}

@font-face {
  font-family: 'yh';
  src: url('https://cdn.jsdelivr.net/gh/hexo-simple-theme/hexo_bg@1.0.2/msyh.ttf')
}

@font-face {
  font-family: 'mono';
  src: url('https://cdn.jsdelivr.net/gh/hexo-simple-theme/hexo_bg@1.0.2/DejaVu Sans Mono for Powerline.ttf')
}

.normal_table {
  border-collapse: collapse;
  width: 100%;
}

.normal_table thead tr {
  background-color: rgb(248, 248, 248);
}

.normal_table th,
.normal_table td {
  padding-top: 5px;
  padding-bottom: 5px;
  // 防止latex公式过挤
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.normal_table tr {
  transition-duration: 0.5s;
}

.normal_table tr:hover {
  background-color: rgb(240, 240, 240);
}

embed {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height 600px;
}

blockquote {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 6px solid rgb(175, 175, 175);
  background-color: rgb(248, 248, 248);
}

p, ul, h1, h2, h3, h4, h5, h6 {
  word-break: normal;
  strong {
    color: var(--text_orange);
  }
}

.mid_block ul li,
.main_block ul li {
  list-style: none;
  margin-left: -5px;
  margin-top: 5px;
  padding-bottom: 5px;
  // 解决latex公式过挤的问题
  &::before {
    content: "●";
    left: -5px;
    font-family: serif;
    color: var(--hover_blue);
    position: relative;
    float: left;
  }
  li {
    margin-left: -20px;
    &::before {
      color: #bbb
      text-shadow: 0px 0px 0px #aaa;
    }
    li {
      &::before {
        color: #eee
        text-shadow: 0px 0px 0px #ddd;
      }
    }
  }
}

ol {
  list-style: none;
  counter-reset: ol_cnt;
}
ol > li{
  margin-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
ol > li:before {
  position: absolute;
  left: -24px;
  
  color: #464646;
  font-family: 'varela';
  font-weight: 1000;

  content: counter(ol_cnt) ".";
  counter-increment: ol_cnt;
}