/**
* 正文样式,方便其他repository引用
*/

html body {
  font-family: 'Varela Round', 'Microsoft Yahei';
}

.main_block p, .main_block ul {
  font-family: 'Microsoft Yahei';
}

code {
  font-family: 'DejaVu Sans Mono for Powerline';
}

.normal_table {
  border-collapse: collapse;
  width: 100%;
}

.normal_table thead tr {
  background-color: rgb(248, 248, 248);
}

.normal_table th,
.normal_table td {
  line-height: 1.9;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.normal_table tr {
  transition-duration: 0.5s;
}

.normal_table tr:hover {
  background-color: rgb(240, 240, 240);
}

embed {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height 600px;
}

blockquote {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 6px solid rgb(175, 175, 175);
  background-color: rgb(248, 248, 248);
}

p, ul {
  word-break: normal;
  strong {
    color: var(--text_orange);
  }
}

.main_block ul li {
  list-style: none;
  margin-left: -5px;
  margin-top: 5px;
  // 解决latex公式过挤的问题
  &::before {
    content: "";
    border: 5px solid var(--hover_blue);
    border-radius: 100%;
    
    margin-right: 10px;
    margin-top: 7px;
    float: left;
  }
  li {
    margin-left: -20px;
    &::before {
      border: 5px solid #ddd;
    }
    li {
      &::before {
        border: 5px solid #eee;
      }
    }
  }
}