/**
* 本地搜索器样式配置
*/

.local-search-input-cls {
  width: 200px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 8px 12px;
  
  border-radius: 4px;
  border: 1px solid #CCC;
  color: #666;
  font-size: 14px;
  &::-webkit-search-cancel-button {
    // 关闭按钮
    cursor: pointer;
  }
}


.local-search-result-cls {
  max-height: 90%;
  padding-right: 30px;
  overflow-y: scroll;
  word-break: break-all;

}

.local-search-result-cls a {
  transition-duration: 0.5s;

  font-weight: bold;
  font-family: 'varela';
  text-decoration: none;
  color: var(--text_blue);
  &:hover {
    color: var(--text_orange);
  }
}

.local-search-plugin {
  position: relative; z-index: 2;
}

.search-highlight {
  color: var(--text_orange);
}