:root {
  --shadow_grey: rgba(153, 153, 153, 1);
  --box_grey: rgba(237, 237, 237, 1);
  --text_orange: rgba(252, 100, 35, 1);
  --box_orange: rgba(255, 206, 189, 1);
  --text_grey: rgba(99, 99, 99, 1);
  --code_grey: rgba(230, 230, 230, 1);
  --text_blue: rgba(0, 191, 255, 1);
  --link_blue: rgba(32, 78, 255, 1);
  --hover_blue: rgba(10, 174, 255, 1);
}

// ======测试区======
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;

  // background-image: url(https://cdn.jsdelivr.net/gh/hexo-simple-theme/hexo_bg@1.0.1/sun.png);
}

.mid_container {
  height: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
}
// ====== end ======

@import "search.styl"
/* 本地搜索器的样式 */
@import "code_molokai.styl"
/* 手写代码高亮 */

@import "block.styl"
@import "tool.styl"
@import "font.styl"
@import "paper.styl"
/* 正文样式 */
