/**
 * 页边小元素
 */

.shadow_tool {
  /* 所有小元素的统一样式 */
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px var(--shadow_grey);
  border-style: solid;
  border-radius: 20px;
  border-width: 0px;

  font-family: sans-serif;
  text-align: center;
  user-select: none;
  cursor: pointer;
  position: fixed;

  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;

  background-color: white;
  opacity: 0.3;
  z-index: 2;
}

.shadow_tool:hover {
  box-shadow: 0px 0px 10px black;
  opacity: 1;
}

.tool_hide {
  opacity: 0;
  z-index: -1;
}

.left_tool_1,
.left_tool_2,
.left_tool_3,
.left_tool_4,
.left_tool_5 {
  left: 10px;
}

.right_tool_1,
.right_tool_2,
.right_tool_3,
.right_tool_4,
.right_tool_5 {
  right: 10px;
}