/**
 * 页边小元素
 */

.all_tool {
  /* 所有小元素的统一样式 */
  box-shadow: 0px 0px 10px var(--my_grey);
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;

  text-align: center;
}

.all_tool:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px black;
}

.left_pg {
  opacity: 0.4;
  position: fixed;

  top: 40%;
  left: 10px;

  width: 50px;
  height: 50px;
}

.right_pg {
  opacity: 0.4;
  position: fixed;

  top: 40%;
  right: 10px;

  width: 50px;
  height: 50px;
}

.left_pg:hover {
  transition-duration: 0.5s;
  opacity: 1;
}

.right_pg:hover {
  transition-duration: 0.5s;
  opacity: 1;
}