/**
 * 页边小元素
 */

.shadow_tool {
  /* 所有小元素的统一样式 */
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px var(--shadow_grey);
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;

  text-align: center;
  user-select: none;
  cursor: pointer;

  background-color: white;
  z-index: 2;
}

.shadow_tool:hover {
  box-shadow: 0px 0px 10px black;
}

.tool_hide {
  opacity: 0;
  z-index: -1;
}

.left_pg {
  opacity: 0.4;
  position: fixed;

  top: 40%;
  left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 50px;
}

.right_pg {
  opacity: 0.4;
  position: fixed;

  top: 40%;
  right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 50px;
}

.left_pg:hover,
.right_pg:hover,
.right_link:hover {
  opacity: 1;
}

.right_link {
  opacity: 0.4;
  position: fixed;

  top: 50%;
  right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 50px;
}